<!-- <h2 class="hidden">Characters filter</h2>
<section class="characters-filter">
  <form>
    <label>
      Name
      <input type="text" name="name" placeholder="Enter name" autofocus />
    </label> -->

<!-- Filter select -->
<!-- <label for="status">Status</label>
    <select id="status" name="status">
      <option value="">-</option>
      <option value="alive">alive</option>
      <option value="dead">dead</option>
    </select> -->

<!-- <label for="species">Species</label>
    <select id="species" name="species">
      <option value="">-</option>
      <option value="human">human</option>
      <option value="alien">alien</option>
    </select> -->

<!-- <label for="type">Type</label>
    <select id="type" name="type">
      <option value="">-</option>
      <option value="parasite">parasite</option>
      <option value="human with ants in his eyes">human with ants in his eyes</option>
    </select> -->

<!-- <label for="gender">Gender</label>
    <select id="gender" name="gender">
      <option value="all">all</option>
      <option value="female">female</option>
      <option value="male">male</option>
    </select>
  </form> -->

<!-- Img card -->
<!-- <div class="character-card">
    <img src="http://surl.li/gvvhe" alt="" width="335" />
    <p>Beebo</p>
    <p>Origin: <span>Earth - c317</span></p>
    <p>Location: <span>Svazilend</span></p>
  </div> -->

<!-- Load more -->
<!-- <button type="button" class="load-more">Load more</button>
</section> -->

<!-- Error -->
<!-- <div class="characters-filter-error">
  <img
    src="../img/character-filter/error-filter-mobile-1x.png"
    alt="Error. You need to change your search terms"
    srcset="
      ../img/character-filter/error-filter-mobile-1x.png 1x,
      ../img/character-filter/error-filter-mobile-2x.png 2x
    "
  />
  <p>Oops! Try looking for something else...</p>
</div> -->
