<!-- <header class="header-characters">

    <div class="logo-page">
              <a class="mini-logo" href="./index.html"><img src="../img/mini-logo-mob.png" alt="rm"></a>
          
</div>
<form class="block-search">
    <span class="loop-box">
      <input
        class="search-form"
        id="search-block"
        name="search-block"
        type="search-name"
        placeholder="Search"
      />          
    </span>
  </form>
  </header>




  <main>
    <section class="hero">
      <div class="characters-hero">
        <h1 class="characters">Characters</h1>
        <p class="text-characters">
          Our character bios provide detailed information on every member of the Smith family and beyond.  Get to know these unforgettable characters on a whole new level - start exploring now!
        </p>
        <a class="go-back link" href="./index.html"
        >Back home</a
      >
      <img class="rick-mob" src="../img/rick-mob.png" alt="rick">

      </div>
    </section>
  </main> -->