<div class="container divider">
  <div><p class="divider-text divider-the_adventures">the adventures</p></div>
  <div><p class="divider-text divider-Justin_Roiland">Justin Roiland</p></div>
  <div><p class="divider-text divider-Amazing">Amazing!</p></div>
  <div><p class="divider-text divider-Rick_and_Morty">Rick and Morty</p></div>
  <div><p class="divider-text divider-follows">follows</p></div>
  <div><p class="divider-text divider-Whoa">Whoa</p></div>

  <div class="divider-absolute_Animated">
    <p class="divider-text divider-Animated">Animated</p>
  </div>
  <div class="divider-absolute_Sitcom">
    <p class="divider-text divider-Sitcom">Sitcom</p>
  </div>
  <div class="divider-absolute_superpower">
    <p class="divider-text divider-superpower">superpower</p>
  </div>
  <div class="divider-absolute_creative">
    <p class="divider-text divider-creative">creative</p>
  </div>
  <div class="divider-absolute_comics">
    <p class="divider-text divider-comics">comics</p>
  </div>
  <div class="divider-absolute_characters">
    <p class="divider-text divider-characters">characters</p>
  </div>
</div>
