<div class="divider">
  <p class="divider-text divider-Amazing">Amazing!</p>
  <div class="divider-block">
    <p class="divider-text divider-the_adventures">the adventures</p>
    <p class="divider-text divider-Justin_Roiland">Justin Roiland</p>
    <p class="divider-text divider-Rick_and_Morty">Rick and Morty</p>
    <p class="divider-text divider-follows">follows</p>
    <p class="divider-text divider-Whoa">Whoa</p>
    <p class="divider-text divider-Animated">Animated</p>
    <p class="divider-text divider-Sitcom">Sitcom</p>
    <p class="divider-text divider-superpower">superpower</p>
    <p class="divider-text divider-creative">creative</p>
    <p class="divider-text divider-comics">comics</p>
    <p class="divider-text divider-characters">characters</p>
  </div>
</div>
