<p>divider</p>
<div class="container divider">
  <div class="divider-text defult">the adventures</div>
  <div class="divider-text defult">Justin Roiland</div>
  <div class="divider-text defult">Amazing</div>
  <div class="divider-text defult">Rick and Morty</div>
  <div class="divider-text defult">follows</div>
  <div class="divider-text defult">Whoa</div>
  <div class="divider-text Animated">Animated</div>
  <div class="divider-text Sitcom">Sitcom</div>
  <div class="divider-text superpower">superpower</div>
  <div class="divider-text creative">creative</div>
  <div class="divider-text comics">comics</div>
  <div class="divider-text characters">characters</div>
</div>
