<div class="backdrop is-hidden">
  <div class="episode-popup">
    <button class="episodes-popup-btn-close" type="button">
      <svg class="episodes-popup-btn-close-icon" width="20" height="20">
        <use href="./img/symbol.svg#icon-close"></use>
      </svg>
    </button>
    <div class="episode-popup-card">
      <h3 class="episode-popup-header">Pilot</h3>
      <div class="episode-popup-info">
        <div>
          <p class="episode-popup-info-header">ID</p>
          <p class="episode-popup-info-text">000</p>
        </div>
        <div>
          <p class="episode-popup-info-header">Air date</p>
          <p class="episode-popup-info-text">December 2, 2013</p>
        </div>
      </div>
      <h3 class="episode-popup-header">Characterss</h3>
      <ul data-simplebar class="episodes-popup-charlist">
        <div class="wrap-for-charlist">
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rick</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rickergbrgbdfbadad</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rick</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rick</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rick</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rickasdasdaddasdasd</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rickasdasdaddasdasd</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rickasdasdaddasdasd</p>
          </li>
          <li class="episodes-popup-charlist-item">
            <div class="episodes-popup-image-thumb">
              <img src="./img/episodes-popup/popup-img.jpg" alt="Rick" />
            </div>
            <p class="episodes-popup-charlist-text">Rickasdasdaddasdasd</p>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
