
<section class="episodes-filter">
    <div class="container">
    <h2 class="hidden">Episodes filter</h2>
    <form action="" class="form-filter">
        <div class="episodes-filter-input-field">
        <label class="episodes-filter-text" for="episodes-filter-user-name">Name</label>
        <div class="episodes-filter-input-wrap">
        <input 
            class="episodes-filter-input"
            id="episodes-filter-user-name" 
            type="text" 
            name="episodes-filter-user-name" 
            placeholder="Enter name"
            />
            <svg class="episodes-filter-input-icon"  width="12px" height="12px">
                <use href="../img/symbol.svg#icon-search"></use>
            </svg>
        </div>
        </div>
        <div>
        <label for="episode" class="episodes-filter-text"> Episode code </label>
        <div class="episodes-filter-select-field">
            <select  name="season" id="episode" class="episodes-filter-select dropdown-toggle">
                <div class="episodes-filter-select-wrap dropdown-menu">
                    <option class="dropdown-item" value="s1">All series</option>
                    <optgroup class="dropdown-menu-item" label="1 season">
                      <option class="dropdown-item" value="1">1 series</option>
                    </optgroup>
                    <optgroup label="2 season">
                        <option value="1">1 series</option>
                      </optgroup>
                </div>
            </select>
        <svg class="episodes-filter-select-icon"  width="9px" height="4.5px">
            <use href="../img/symbol.svg#icon-jackdaw"></use>
        </svg>
    </div>
    </div>
    </form>
    <div class="gallery"></div>
    <button type="button" class="load-more">Load more</button>
    </div>
</section>

<script type="module" src="../episodes-filter.js"></script>