<header class="header-characters-episods">
  <div class="container flex1-header">
    <div class="logo-page-head">
      <a class="mini-logo-head dis-none" href="./index.html"
        ><img src="./img/hero-header-img/mini-logo-mob.webp" alt="rm"
      /></a>
      <a class="mini-logo-head none-dis desktop" href="./index.html"
        ><img src="./img/hero-header-img/logo-mini-tablet.webp" alt="rm"
      /></a>
    </div>
    <a class="header-nav-characters link font-size-page" href="./characters.html"
            >Characters</a
          >
  </div>
</header>

<section class="hero-bg-color">
  <div class="container">
    <div class="characters-hero-img">
      <div class="hero-flex-text">
        <h1 class="characters-episodes">Episodes</h1>
        <h4 class="text-this-ch">
          With a comprehensive guide to every episode, you can relive your
          favorite moments and discover new ones. From the bizarre and hilarious
          to the emotional and thought-provoking, our episode guide covers it
          all.
        </h4>
        <a class="go-back-home link" href="./index.html">Back home</a>
      </div>
      <img
        class="rick-mob dis-none"
        src="./img/hero-header-img/episod-foto.webp"
        alt="rick"
      />
      <img
        class="rick-mob none-dis"
        src="./img/hero-header-img/episodes-tablet.webp"
        alt="rick"
      />
      <img
        class="rick-mob desktop"
        src="./img/hero-header-img/episodes-desktop.webp"
        alt="rick"
      />
    </div>
  </div>
</section>
