<!-- <link
  rel="stylesheet"
  href="../FancySelect-main/src/fancyselect.css"
/> -->
<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
<section class="episodes-filter">
    <div class="container">
    <h2 class="hidden">Episodes filter</h2>
    <form action="" class="form-filter">
        <div class="episodes-filter-input-field">
        <label class="episodes-filter-text" for="episodes-filter-user-name">Name</label>
        <div class="episodes-filter-input-wrap">
        <input 
            class="episodes-filter-input"
            id="episodes-filter-user-name" 
            type="text" 
            name="episodes-filter-user-name" 
            placeholder="Enter name"
            />
            <svg class="episodes-filter-input-icon"  width="12px" height="12px">
                <use href="../img/symbol.svg#icon-search"></use>
            </svg>
        </div>
        </div>
        <div class="episodes-filter-selectwithlabel">
        <label for="episode" class="episodes-filter-text"> Episode code </label>
        <div class="episodes-filter-select-field">
            <select  name="season" id="episode">
            </select>
        <svg class="episodes-filter-select-icon"  width="30px" height="30px">
            <use href="../img/symbol.svg#icon-jackdaw"></use>
        </svg>
    </div>
    </div>
    </form>
    <div class="gallery"></div>
    <button type="button" class="load-more-btn episodes-filter-btn">Load more</button>
    </div>
</section>

<!-- <script src="../FancySelect-main/src/fancyselect.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<script type="module" src="../episodes-filter.js"></script>