<section class="section-gallery" id="gallery">
  <div class="container conteiner-swiper">
    <h2 class="gallery-title">
      Ready to <span class="green-word">explore</span> the crazy world of Rick
      and Morty?
    </h2>

    <div class="swiper mySwiper">
      <ul class="section-gallery__list swiper-wrapper">
        <li class="swiper-slide">
          <img src="./img/gallery/image-1.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-6.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-3.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-7.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-5.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-2.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-4.jpg" alt="photo chocolate" />
        </li>

        <li class="swiper-slide">
          <img src="./img/gallery/image-9.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-10.jpg" alt="photo chocolate" />
        </li>
        <li class="swiper-slide">
          <img src="./img/gallery/image-11.jpg" alt="photo chocolate" />
        </li>
      </ul>
      <a href="./episodes.html" class="link-gallary">Episodes</a>
    </div>
  </div>
</section>
<script src="./gallery.js" type="module"></script>
