<footer class="footer-main" id="footer">
  <div class="container">
    <div class="footer-components">
      <div class="footer-logo">
        <picture>
          <source
            srcset="../img/footer/footer-img-320.png"
            media="(max-width: 767px)"
          />
          <source
            srcset="../img/footer/footer-img-tab.png"
            media="(min-width: 768px)"
          />
          <img src="../img/footer/footer-img-320.png" alt="Rick and Morty" />
        </picture>
        <button type="button" class="footer-logo-rick-btn">Rick and</button>
        <button type="button" class="footer-logo-morty-btn">Morty</button>
      </div>
      <div class="footer-wrap">
        <div class="footer-pages">
          <ul class="footer-list">
            <li>
              <a href="../characters.html" class="footer-characters-item"
                >Characters</a
              >
            </li>
            <li>
              <a href="../episodes.html" class="footer-characters-item"
                >Episodes</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-social-media">
          <ul class="footer-social-list">
            <li class="footer-social-item">
              <a href="../error.html" class="footer-social-list-link">
                <svg class="footer-social-icon">
                  <use href="../img/symbol.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a href="../error.html" class="footer-social-list-link">
                <svg class="footer-social-icon">
                  <use href="../img/symbol.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-item">
              <a href="../error.html" class="footer-social-list-link">
                <svg class="footer-social-icon">
                  <use href="../img/symbol.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="privacy-policy">
      <a href="#">Privacy Policy Public Offering Agreement</a>
    </div>
  </div>
</footer>
