:root {
  --border-color: #fafafa4d;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }

  .header-main-page {
    background: var(--color-black);
    display: flex;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 3;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
  }

  .header-list-nav {
    display: flex;
  }

  .flex-header {
    display: flex;
    align-items: baseline;
  }

  .flex1-header {
    display: flex;
    align-items: center;
  }

  .search-block-header {
    margin-left: auto;
  }

  .logo-page-head {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
  }

  .nav-characters-item {
    max-width: 107px;
  }

  .header-nav-characters {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.333;
    color: var(--color-white);
    font-family: inherit;
    background: var(--color-black);
    padding: 10px 20px;
    border-radius: 1000px;
    border: 1px solid var(--border-color);

    transition-property: background-color, color, border;
    transition: 250ms var(--animation-style);
  }
  .header-nav-characters:hover {
    background-color: var(--color-gree);
    color: var(--color-white);
    color: var(--color-black);

    
  }

  .nav-episodes-item {
    max-width: 96px;
  }

  .header-nav-episodes {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.333;
    color: var(--color-white);
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 1000px;
    border: 1px solid var(--border-color);

    transition-property: background-color, color, border;
    transition: 250ms var(--animation-style);
  }
  .header-nav-episodes:hover {
    background-color: var(--color-gree);
    color: var(--color-black);
    border: 1px solid var(--color-black);
  }

  .container-header-block {
    display: flex;
    align-items: center;
  }

  .search-header {
    display: flex;
  }

  .loop-search-flip {
    display: flex;
    margin-left: auto;
    max-width: 103px;
    position: relative;

    transition-property: max-width;
    transition: 250ms var(--animation-style);
  }

  .search-btn-icon {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translateY(50%);
    margin-left: 18px;
    background: transparent;
    border: none;
    padding: 0;
  }

  .bg-color-hero {
    justify-content: center;
    display: grid;
    background-image: url(../img/hero-header-img/small-green-dot.webp);
    background-repeat: no-repeat;
    background-size: initial;
    background-position: right 12% bottom 28%;
    max-width: 335px;
    margin-right: auto;
    margin-left: auto;
  }

  .search-form-header {
    font-weight: 600;
    font-size: 10px;
    line-height: 1.333;
    color: var(--color-white);
    font-family: inherit;
    border: 1px solid var(--border-color);
    padding: 9px 18px;
    border-radius: 1000px;
    width: 100%;
    background: transparent;
    outline: none;
    padding-left: 40px;

    transition-property: background-color, color, border;
    transition: 250ms var(--animation-style);
  }
  .search-form-header:hover {
    border: 1px solid var(--color-gree);
  }

  
  .header-svg {
    display: flex;
    align-items: center;
  }

  .big-logo-mobile {
    padding-bottom: 4px;
  }

  .text-hero-block {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.285;
    color: var(--color-white);
    font-family: inherit;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 291px;
  }

  .container-hero-block {
    margin-top: 0;
    padding-bottom: 148px;
  }

  .characters-episodes {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.1;
    color: var(--color-white);
    font-family: inherit;
    margin-bottom: 14px;
    text-align: left;
  }

  .text-this-ch {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.285;
    color: var(--color-white);
    font-family: inherit;
    text-align: left;
    margin-bottom: 32px;
  }

  .characters-hero-img {
    margin-top: 0;
    padding-bottom: 80px;
  }

  .go-back-home {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.285;
    color: var(--color-white);
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 1000px;
    border: 1px solid var(--border-color);

    transition-property: background-color, color, border;
    transition: 250ms var(--animation-style);
  }
  .go-back-home:hover{
    background-color: var(--color-gree);
    color: var(--color-black);
  }

  .loop-box {
    display: flex;
    max-width: 103px;
  }

  .header-characters-episods {
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--color-black);
    display: flex;
    z-index: 1001;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .rick-mob {
    padding-top: 48px;
  }

  .hero-bg-color {
    background-color: var(--color-black);
    background-image: url(../img/hero-header-img/bg-ch-ep.webp);
    display: grid;
    background-size: contain;
    background-position: bottom 0px center;
    background-repeat: no-repeat;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-top: 62px;
  }

  .svg-img-btn-head {
    fill: transparent;
    stroke: var(--color-white);

    transition-property: background-color, color, border;
    transition: 250ms var(--animation-style);
  }

  .block-search {
    padding-top: 20px;
  }

  .bg-hero-color {
    background-color: var(--color-black);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/hero-header-img/blocks.webp);
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-top: 100px;
  }

  .nlo-mobile {
    padding-bottom: 24px;
  }

  .scroll-mobile {
    background: transparent;
    stroke: var(--color-white);

    transition-property: stroke;
    transition: 250ms var(--animation-style);
  }
  .scroll-mobile:hover {
    stroke: var(--color-gree);
  }

  .scroll-tablet {
    background: transparent;
    stroke: var(--color-white);
    display: none;
  }

  .scroll-desktop {
    background: transparent;
    stroke: var(--color-white);
    display: none;
  }

  .scroll-btn-dunno {
    background-color: var(--color-black);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    padding: 11px 13px;
    right: 20px;
    bottom: 40px;
    position: fixed;
    z-index: 1050;

    transition-property: background-color, color, border;
    transition: 250ms var(--animation-style);
  }
  .font-size-page{
    font-size: 12px;
  }

  .nlo-tablet {
    display: none;
  }

  .big-logo-pc {
    display: none;
  }

  .nlo-pc {
    display: none;
  }

  .big-logo-tablet {
    display: none;
  }

  .none-dis {
    display: none;
  }

  .dis-text {
    display: none;
  }

  .desktop {
    display: none;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 345px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }

  .flex-header {
    background-color: var(--color-black);
  }

  .flex1-header {
    background-color: var(--color-black);
  }

  .search-form-header {
    font-size: 12px;
  }

  .search-btn-icon {
    transform: translateY(55%);
  }

  .header-nav-episodes {
    font-size: 12px;
  }

  .hero-bg-color {
    max-width: 100%;
    background-size: contain;
    background-position: bottom;
  }

  .header-nav-characters {
    font-size: 12px;
  }

  .bg-hero-color {
    max-width: 100%;
    padding-top: 100px;
  }

  .big-logo-tablet {
    display: none;
  }

  .nlo-tablet {
    display: none;
  }

  .big-logo-pc {
    display: none;
  }

  .nlo-pc {
    display: none;
  }
}

@media screen and (min-width: 550px) {
  .hero-bg-color {
    background-size: cover;
    background-position: top;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header-main-page {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .flex-header {
    background-color: var(--color-black);
  }

  .flex1-header {
    background-color: var(--color-black);
  }

  .search-btn-icon {
    transform: translateY(77%);
  }

  .big-logo-mobile {
    padding-bottom: 0;
  }

  .scroll-mobile {
    display: none;
  }
  .loop-search-flip:hover{
    max-width: 200px;
 }

  .scroll-tablet {
    background: transparent;
    stroke: var(--color-white);
    display: block;
  }

  .scroll-btn-dunno {
    padding: 19px 20px;
    right: 32px;
    bottom: 64px;
  }

  .bg-hero-color {
    max-width: 100%;
    background-position: center;
    background-image: url(../img/hero-header-img/bg-nlo-tablet.webp);
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-top: 54px;
    background-size: initial;
  }

  .text-hero-block {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    max-width: 420px;
  }

  .big-logo-tablet {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-10%);
  }

  .nlo-tablet {
    display: block;
  }

  .big-logo-mobile {
    display: none;
  }

  .nlo-mobile {
    display: none;
  }

  .header-nav-characters {
    font-size: 14px;
    line-height: 1.285;
    padding: 12px 24px;
  }

  .header-nav-episodes {
    font-size: 14px;
    line-height: 1.285;
    padding: 12px 24px;
  }

  .search-form-header {
    font-size: 14px;
    line-height: 1.285;
    padding: 12px 24px;
    padding-left: 50px;
  }

  .loop-search-flip {
    max-width: 124px;
  }

  .search-btn-icon {
    margin-left: 24px;
  }

  .nav-characters-item {
    max-width: 126px;
  }

  .nav-episodes-item {
    max-width: 126px;
  }

  .dis-none {
    display: none;
  }

  .none-dis {
    display: flex;
  }

  .header-characters-episods {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .characters-episodes {
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .text-this-ch {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    width: 334px;
    margin-bottom: 44px;
  }

  .characters-hero-img {
    display: flex;
    padding-bottom: 208px;
    gap: 24px;
    background-image: url(../img/hero-header-img/blocks-tablet.webp);
    background-position: right 0% top -30%;
    background-size: initial;
    background-repeat: no-repeat;
  }

  .rick-mob {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-flex-text {
    padding-top: 53px;
  }

  .hero-bg-color {
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: none;
    padding-top: 141px;
  }

  .go-back-home {
    font-size: 14px;
    line-height: 1.285;
    padding: 12px 24px;
  }

  .container-hero-block {
    padding-bottom: 64px;
  }

  .bg-color-hero {
    background-image: url(../img/hero-header-img/green-dot-tablet.webp);
    background-position: right 24% bottom 22%;
    max-width: 704px;
    max-height: 586px;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 8px;
    max-width: 1200px;
  }

  .flex-header {
    background-color: var(--color-black);
  }

  .flex1-header {
    background-color: var(--color-black);
  }

  .bg-hero-color {
    max-width: 100%;
  }

  .scroll-tablet {
    display: none;
  }

  .scroll-desktop {
    display: block;
  }

  .text-hero-block {
    margin: 0;
    max-width: 311px;
    padding-top: 155px;
  }

  .hero-bg-color {
    padding-top: 100px;
  }

  .disno-text {
    display: none;
  }

  .search-btn-icon {
    transform: translateY(65%);
  }

  .dis-text {
    display: block;
  }

  .display {
    display: flex;
    gap: 15px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .bg-color-hero {
    padding: 0;
    margin: 0;
    background-position: right 13% bottom 22%;
  }

  .none-dis {
    display: none;
  }

  .desktop {
    display: block;
  }

  .characters-episodes {
    font-weight: 600;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 16px;
  }

  .text-this-ch {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 32px;
    width: 482px;
  }

  .rick-mob {
    margin-right: 0;
  }

  .characters-hero-img {
    padding-bottom: 126px;
    background-image: url(../img/hero-header-img/blocks-desktop.webp);
    background-position: right -20% top -20%;
  }

  .container-hero-block {
    padding-top: 54px;
    padding-bottom: 87px;
  }
  .text-hero-block{
    text-align: left;
    padding-left: 8px;
  }
  .scroll-desktop:hover{
    stroke: var(--color-gree);
  }
}
