/* :root {
    --color-black: #0D171D;
    --color-light-green: #DAF836;
    --color-white: #FAFAFA;
    --color-gree: #A1D737;
    --color-other-black: #111111;
    --border-color: #FAFAFA4D;
    --animation-style: ease-out;
  }
.body{
    padding: 0;
    margin: 0;
}
.header{
    background:var(--color-black);
    display: flex;  
    align-items: baseline;
}

.list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

.header-list {
    display: flex;
}
.logo-page{
    padding: 20px 20px 62px 20px;    
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
}
.nav-characters{
    max-width: 107px;
}
.header-nav-characters{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.09;
    color:#0D171D;
    font-family: inherit;
    background: var(--color-gree);
    padding: 10px 20px;
    border-radius: 1000px;
}
.nav-episodes{
    max-width: 96px;
}
.header-nav-episodes {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.09;
    color:var(--color-white);
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 1000px;
    border: 1px solid var(--border-color);
}
.container-header{
    margin: 20px auto 100px 20px;
    display: flex;
    align-items: center;

}
.search-header{
    display: flex;
}
.loop{
    display: flex;
    margin-left: auto;
    max-width: 103px;
    margin-right: 20px;
}
.bg-color{
    padding: 0 20px 24px 20px;
    background-image: url(../img/blocks.png) ;
    background-repeat: no-repeat;
    justify-content: center;
    display: grid;
    background-size: contain;
    background-position: center;
    }

.search-form{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.09;
    color:var(--color-white);
    font-family: inherit;
    border: 1px solid var(--border-color);
    padding: 10px 18px;
    border-radius: 1000px;
    width: 43px;
    background:var(--color-black);
    outline: none;
}
.header-svg{
    display: flex;
    align-items: center;
}
.hero {
    background:var(--color-black);
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.text-hero{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color:var(--color-white);
    font-family: inherit;
    padding-top: 4px;
    text-align: center;
    padding-left: 42px;
    padding-right: 42px;
}
.container-hero{
    margin-top: 0;
    padding-bottom: 148px;

}
.characters{
    font-weight: 600;
    font-size: 40px;
    line-height: 0.9;
    color:var(--color-white);
    font-family: inherit;
    margin-bottom: 14px;
    text-align: left;
}
.text-characters{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.05;
    color:var(--color-white);
    font-family: inherit;
    padding-top: 4px;
    text-align: left;
    margin-bottom: 24px;
}
.characters-hero{
    margin-top: 0;
    padding-bottom: 80px;

}
.go-back {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.09;
    color:var(--color-white);
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 1000px;
    border: 1px solid var(--border-color);
}
.rick-mob{
    padding-top: 40px;
}

.loop-box{
    display: flex;
    max-width: 103px;
    padding-top: 24px;
    padding-right: 20px;
   
}
.header-characters{
    background:var(--color-black);
    display: flex;  
}
.rick-mob{
    margin-right: auto;
    margin-left: auto;
}
.svg-img{
    fill: var(--color-black);
    stroke: var(--color-white);
} */
