@media screen and (min-width: 320px) {
  /* Select menu */
  .select-container-status > .fsb-select,
  .select-container-type > .fsb-select {
    width: 132px;
    height: 46px;
    margin-right: 10px;

    font-family: 'Poppins', sans-serif;
    line-height: 1.29;
  }

  .select-container-status > .fsb-select {
    font-family: 'Montserrat', sans-serif;
  }

  .select-container-species > .fsb-select,
  .select-container-gender > .fsb-select {
    width: 132px;
    height: 46px;

    font-family: 'Poppins', sans-serif;
    line-height: 1.29;
  }

  .fsb-list > .fsb-option {
    width: 132px;
  }

  .fsb-list > .fsb-option > span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .select-with-label-container {
    --fsb-border: 1.5px solid var(--color-other-black);
    --fsb-radius: 100px;
    --fsb-color: var(--color-other-black);
    --fsb-background: var(--color-white);
    --fsb-font-size: 14px;
    --fsb-shadow: 0;
    --fsb-padding: 14px 24px;
    --fsb-arrow-padding: 24px;
    --fsb-arrow-size: 7px;
    --fsb-arrow-color: var(--color-other-black);
    --fsb-icon-color: currentColor;
    --fsb-list-height: 150px;
    --fsb-list-border: 1px solid var(--color-other-black);
    --fsb-list-radius: 16px;
    --fsb-list-color: rgba(17, 17, 17, 0.3);
    --fsb-list-background: var(--color-white);
    --fsb-hover-color: var(--color-other-black);
    --fsb-hover-background: var(--color-white);
  }

  label[for='type'],
  label[for='gender'] {
    margin-top: 20px;
  }

  label[for='species'],
  label[for='type'],
  label[for='gender'] {
    font-family: 'Poppins', sans-serif;
  }

  /* Main styles */
  .characters-filter {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .characters-filter form {
    padding-bottom: 40px;
  }

  .characters-filter .select-with-label-container,
  .characters-filter .input-with-label-container {
    display: inline-block;
  }

  .characters-filter label,
  .characters-filter select,
  .characters-filter input {
    display: block;
  }

  .characters-filter label {
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 1.17;
  }

  .characters-filter input {
    width: 279px;
    height: 46px;
    margin-top: 8px;
    margin-bottom: 20px;
    padding-left: 24px;

    border: 1.5px solid var(--color-other-black);
    border-radius: 100px;

    font-size: 14px;
    line-height: 1.29;

    color: var(--color-other-black);
    background-color: var(--color-white);
  }

  .characters-filter input::placeholder,
  .characters-filter textarea::placeholder {
    color: var(--color-other-black);
  }

  .characters-filter input:is(:focus) {
    background-color: var(--color-light-green);
  }

  .characters-filter .input-container {
    position: relative;
  }

  .characters-filter .search-icon {
    position: absolute;
    top: 50%;
    left: 235px;
    transform: translateY(-50%);

    stroke: var(--color-other-black);
    fill: none;
  }

  .character-card {
    margin-bottom: 40px;
  }

  .character-img-wrap {
    object-fit: cover;
    overflow: hidden;

    border: 2px solid var(--color-gree);
    border-radius: 18px;
  }

  .character-name {
    margin-top: 14px;
    margin-bottom: 8px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.12;
  }

  .character-characteristics-origin {
    margin-top: 8px;

    font-size: 14px;
    line-height: 1.29;
  }

  .character-characteristics-location {
    margin-top: 4px;

    font-size: 14px;
    line-height: 1.29;
  }

  .character-characteristics-origin span,
  .character-characteristics-location span {
    color: rgba(17, 17, 17, 0.5);
  }

  .load-more-btn {
    display: block;
    margin: 0 auto;
    width: 107px;
    height: 36px;

    border-radius: 1000px;
    border: none;

    background: var(--color-gree);
    color: var(--color-black);

    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
  }

  /* Error */
  .characters-filter-error {
    padding-bottom: 80px;
  }

  .characters-filter-error img {
    margin: 0 auto;
  }

  .characters-filter-error p {
    margin-top: 8px;

    font-size: 14px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
  }
}

@media screen and (min-width: 375px) {
  /* Select menu */
  .select-container-status > .fsb-select,
  .select-container-type > .fsb-select,
  .select-container-species > .fsb-select,
  .select-container-gender > .fsb-select {
    width: 160px;
  }

  /* Main styles */
  .characters-filter {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .characters-filter input {
    width: 335px;
  }

  .characters-filter .search-icon {
    left: 293px;
  }

  /* Error */
  .characters-filter-error p {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  /* Select menu */
  .select-container-status > .fsb-select,
  .select-container-type > .fsb-select {
    height: 50px;
    margin-right: 16px;

    font-size: 16px;
    line-height: 1.12;
  }

  .select-container-status > .fsb-select {
    width: 202px;

    font-size: 16px;
    line-height: 1.12;
  }

  .select-container-species > .fsb-select {
    width: 192px;
    height: 50px;

    font-size: 16px;
    line-height: 1.12;
  }

  .select-container-type > .fsb-select {
    width: 175px;
  }

  .select-container-gender > .fsb-select {
    width: 167px;
    height: 50px;

    font-size: 16px;
    line-height: 1.12;
  }

  .select-with-label-container {
    --fsb-font-size: 16px;
    --fsb-padding: 16px 24px;
    --fsb-arrow-size: 7px;
    --fsb-list-height: 205px;
  }

  label[for='type'],
  label[for='gender'] {
    margin-top: 16px;
  }

  /* Main styles */
  .characters-filter {
    padding-top: 64px;
    padding-bottom: 128px;
  }

  .characters-filter form {
    padding-bottom: 64px;
  }

  .characters-filter label {
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 1.29;
  }

  .characters-filter input {
    width: 269px;
    height: 50px;
    margin-bottom: 0px;
    margin-right: 16px;

    font-size: 16px;
    line-height: 1.12;
  }

  .characters-filter .search-icon {
    left: 227px;
  }

  .character-card {
    margin-bottom: 64px;
  }

  .characters-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
  }

  .character-name {
    margin-top: 16px;
  }

  .load-more-btn {
    width: 126px;
    height: 42px;

    font-size: 14px;
    line-height: 1.29;
  }

  /* Error */
  .characters-filter-error {
    padding-bottom: 128px;
  }

  .characters-filter-error img {
    margin: 0 auto;
    width: 388px;
  }

  .characters-filter-error p {
    margin-top: 16px;

    font-size: 24px;
    line-height: 1;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  /* Select menu */
  .select-container-status > .fsb-select {
    width: 165px;
  }

  .select-container-species > .fsb-select {
    width: 204px;
    margin-right: 16px;
  }

  label[for='type'],
  label[for='gender'] {
    margin-top: 0px;
  }

  /* Main styles */
  .characters-filter {
    padding-top: 64px;
    padding-bottom: 128px;
  }

  .characters-filter input {
    width: 233px;
    margin-bottom: 0px;
  }

  .characters-filter .search-icon {
    left: 191px;
  }

  .characters-filter form {
    display: flex;
    justify-content: center;
  }

  .character-card {
    margin-bottom: 64px;
  }

  .characters-gallery {
    column-gap: 24px;
  }

  .characters-filter img {
    width: 278px;
  }
}
