.episodes-filter {
    padding-top: 40px;
}

.form-filter {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.episodes-filter-input {
    width: 335px;
    height: 46px;
    border: 1.5px solid #111111;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    background-color: transparent;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: #111111;
    align-items: center;
    padding-left: 24px;
}

.episodes-filter-input:focus {
    background-color: #DAF836;
}

.episodes-filter-input-wrap {
    position: relative;
}

.episodes-filter-input-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    fill: transparent;
    stroke: rgba(17, 17, 17, 1)
}


.episodes-filter-text {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.29;
    color: #111111;
    margin-bottom: 8px;
}

.episodes-filter-select {
    width: 335px;
    height: 48px;
    border: 1.5px solid #111111;
    border-radius: 100px; 
    background-color: transparent;
    outline: none;   
    font-size: 16px;
    line-height: 1.12;
    align-items: center;
    padding-left: 24px;
    color: #111111;
    position: relative;
    appearance: none;
}

.episodes-filter-select-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    fill: transparent;
    stroke: rgba(17, 17, 17, 1)
}

/* .pisodes-filter-select-wrap {
    position: absolute; 
} */

.episodes-filter-select-field {
   position: relative;
}

.episodes-filter-select-field select{
   /* display: none; */
}

.select-selected {
    background-color: #ffffff;;
}

/* .episodes-filter-select:focus {
    background-color: #DAF836;
} */

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 40px;
}
.episodes-filter-card-list {
position: relative;
}

.episodes-filter-photo-card {
    background-color: rgba(13, 23, 29, 1);
    border: 2px solid #A1D737;
    border-radius: 18px;
    width: 100%;
    height: 100%;
}

.episodes-filter-info-name {
    position: absolute;
    left: 20px;
    top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.12; 
    color: #A1D737;
}

.episodes-filter-info-realepisode {
    position: absolute;

    left: 20px;
    bottom: 42px;
}


@media screen and (min-width: 375px) {
    .episodes-filter-photo-card {
        width: 335px;
        height: 250px;
    }
}
  
@media screen and (min-width: 768px) {
    /* .episodes-filter {
        padding-top: 64px;
    } */

    .form-filter {
        gap: 16px;
        justify-content: center;
    }

    .episodes-filter-input {
        width: 233px;
        height: 50px; 
        font-size: 16px;
        line-height: 1.12;
    }

    .episodes-filter-select {
        width: 190px;
        height: 50px;
    }

    .episodes-filter-text {
        font-size: 14px;
    }

    .gallery {
        gap: 32px;
    }

    .episodes-filter-photo-card {
        width: 336px;
        height: 250px;
    }
}
  
@media screen and (min-width: 1200px) {
  
    .gallery {
        column-gap: 16px;
    }

    .episodes-filter-photo-card {
        width: 284px;
        height: 200px;
    }
}