:root {
    --color-black: #0D171D;
    --color-light-green: #DAF836;
    --color-white: #FAFAFA;
    --color-gree: #A1D737;
    --color-other-black: #111111;
    --animation-style: ease-out;
}


.episode-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 335px;
    width: 100%;
    background-color: var(--color-black);
    border-radius: 14px;
    padding: 40px 20px;
}

.episodes-popup-btn-close {
    position: absolute;
    top: 14px;
    right: 16px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.episodes-popup-btn-close-icon {
    stroke: var(--color-gree);
}

.episode-popup-card {
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-gree);
    border-radius: 18px;
    padding: 20px;
}

.episode-popup-header {
    color: var(--color-white);
    font-size: 18px;
    line-height: 1.33;
    font-weight: 600;
    margin-bottom: 14px;
}

.episode-popup-info {
    display: flex;
    gap: 14px;
    padding-bottom: 40px;
}

.episode-popup-info-header {
    font-size: 12px;
    line-height: 1.17;
    color: rgba(250, 250, 250, 0.5);
    margin-bottom: 8px;
}

.episode-popup-info-text {
    font-size: 14px;
    line-height: 1.29;
    color: rgb(250, 250, 250);
}

.episodes-popup-charlist {
    display: flex;
    flex-wrap: wrap;
    gap: 14px 20px;
}

.episodes-popup-charlist-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.episodes-popup-image-thumb {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: contain;
    overflow: hidden;
}

.episodes-popup-charlist-text {
    color: var(--color-white);
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 1.29;
}

@media screen and (min-width: 768px) {
    .episode-popup {
        max-width: 673px;
        width: 673px;
        padding: 32px;
    }

    .episodes-popup-btn-close {
        right: 14px;
    }

    .episode-popup-header {
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 16px;
    }

    .episode-popup-card {
        padding: 32px;
    }

    .episode-popup-info-text {
        font-size: 16px;
        line-height: 1.13;
    }

    .episodes-popup-charlist {
        gap: 32px;
    }

    .episode-popup-info {
        gap: 32px;
        margin-bottom: 32px;
    }
}